@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* nav ul {
        justify-content: flex-end;
        flex-direction: row;
    } */

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        background-color: red;
        flex: 1 1 auto
    }

    .navigation a {
        display: flex;
        list-style: none;
        color: gold;
        text-decoration: none;
        font-weight: 600;
        padding: 20px;
        font-size: 1.5rem;

    }


    h1 {
        font-size: 2rem;
        text-align: center;
        background-color: green;
    }

    figure img {
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }


    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    /******************************************/






}