 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 h1 {
     text-align: center;
 }

 .navigation {
     display: block;
     flex-direction: row;
     justify-content: space-around;
     list-style: none;
     background-color: indigo;
     flex: 1 1 auto
 }

 /********************************************han*********************/
 /****************HAMBURGER NAVIGATION*****************/

 #menu {
     background: none;
     border: none;
     color: purple;
     cursor: pointer;

 }

 /* #menu::before {
    content: "\2630";
    font-size: 2rem;

}

#menu.open::before {
    content: "\00D7";


} */

 .navigation {
     display: none;
     background-color: #154260;
     ;
     align-items: center;
 }

 .navigation.open {
     display: block
 }




 #menu::before {
     content: "☰";
 }

 #menu.open::before {
     content: "❌";
 }

 .active {
     background-color: green;
     display: block;

 }


 main {
     max-width: 800px;
     margin: 0 auto;
     font-family: 'Roboto', sans-serif;
     background-color: #eee;
     padding: 1.5rem;
 }

 .active::before {
     content: "📍";
 }

 nav a {
     display: block;
     color: gold;
     text-decoration: none;
     font-weight: 600;
     padding: 20px;
     font-size: 1.5rem;

 }

 nav a:hover {
     background-color: greenyellow;
     color: blue;
 }

 nav {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     list-style: none;
     background-color: red;
     color: white;
 }

 header {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     align-items: center;
     font-size: 1.2rem;
     padding: 10px 0;
     color: white;
     background-color: purple;
     border: 1rem;
 }

 footer {
     display: block;
     align-items: center;
     font-size: 1.2rem;
     padding: 10px 0;
     color: white;
     background-color: purple;
     margin: 0 auto;
     text-align: center;

 }

 div {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     /* repeat(3, 1fr); */
     align-items: center;
     grid-gap: 10px;

 }

 figure img {
     width: 200px;
     height: auto;
 }


 /* separetor from above */





 h1 {
     font-size: 2rem;
     padding: 1rem;
     background-color: green;
     text-align: center;
     font-family: "Acme", Arial, sans-serif;
     color: #fff;
 }

 h2 {
     font-size: 2rem;
 }

 h3 {
     font-size: 1.5rem;
     color: darkgreen;
 }

 section {
     margin: 1rem auto;
     max-width: 960px;
     padding: 0.5rem;
 }



 figure {
     background-color: #fff;
 }

 img {
     width: 100%;
     height: auto;
     margin: 0.5rem;
 }

 figcaption {
     font-size: smaller;
 }


 .open a {
     display: block;
 }





 .navigation a {
     display: block;
     flex: 1 1 100%;

 }

 #menu {
     font-size: 1.5rem;
     border: 0;
     background: none;
     color: #000;
     position: absolute;
     top: 1rem;
     right: 1rem;

 }