@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    figure img {
        width: 100%;
        height: auto;
    }

        h1 {
            font-size: 2rem;
            padding: 1rem;
            background-color: blue;
            text-align: center;
            font-family: "Acme", Arial, sans-serif;
            color: #fff;
        }

    h2 {
        font-size: 2rem;
        text-align: center;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }


   
    /******************************************/
        .navigation {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            background-color: red;
            flex: 1 1 auto
        }






}